* {
	border: none;
	border-radius: 0;
	background-color: #282828;
	font-family: Bmono;
	font-size: 16px;
	padding: 0;
}

#tray,
#pulseaudio,
#backlight,
#battery,
#clock {
	color: #F8F8F8;
	padding: 0 2px;
}

#custom-menu {
	font-size: 14px;
	background-color: #F7CA88;
	color: #181818;
	padding: 2px 0;
	margin-bottom: 0.5em;
}

#workspaces button {
	color: #585858;
}

#workspaces button.focused {
	color: #F7CA88;
}

#clock.big {
	margin-top: 0.5em;
}

#clock.small {
	font-size: 8px;
}
