[submodule "Gitalias"]
	path = extra/gitalias
	url = https://github.com/GitAlias/gitalias.git
[submodule "MPV image-viewer"]
	path = extra/mpv/image-viewer
	url = https://github.com/occivink/mpv-image-viewer.git
[submodule "Wallpapers"]
	path = extra/wallpapers
	url = https://github.com/NNBnh/wallpapers.git
[submodule "ANSI arts"]
	path = extra/ansi
	url = https://github.com/NNBnh/ansi.git
