themes {
    default {
        fg      15
        bg      0
        black   8
        red     9
        green   10
        yellow  11
        blue    12
        magenta 13
        cyan    14
        white   15
        orange  3
    }
}

keybinds clear-defaults=true {
    shared_except "normal" {
        bind "Esc" { SwitchToMode "Normal"; }
    }
    shared {
        bind "Alt Left"  { MoveFocusOrTab "Left";  }
        bind "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt Up"    { MoveFocus      "Up";    }
        bind "Alt Down"  { MoveFocus      "Down";  }

        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }
    }
    shared_except "scroll" {
        bind "Alt 0" { SwitchToMode "Scroll"; }
    }
    scroll {
        bind "Alt 0" { SwitchToMode "Normal"; EditScrollback; }

        bind     "Up"   {     ScrollUp;   }
        bind "PageUp"   { PageScrollUp;   }
        bind     "Down" {     ScrollDown; }
        bind "PageDown" { PageScrollDown; }

        bind     "j" { MoveFocusOrTab "Left";  }
        bind     "J" { MovePane       "Left";  }
        bind "Alt j" { Resize         "Left";  }
        bind     "l" { MoveFocusOrTab "Right"; }
        bind     "L" { MovePane       "Right"; }
        bind "Alt l" { Resize         "Right"; }
        bind     "i" { MoveFocus      "Up";    }
        bind     "I" { MovePane       "Up";    }
        bind "Alt i" { Resize         "Up";    }
        bind     "k" { MoveFocus      "Down";  }
        bind     "K" { MovePane       "Down";  }
        bind "Alt k" { Resize         "Down";  }

        bind "t" { SwitchToMode "Normal"; NewTab;  }
        bind "n" { SwitchToMode "Normal"; NewPane; }
        bind "w" { CloseFocus; }
        bind "r" { SwitchToMode "RenameTab";  }
    }
}
