/* New Tab Flash */
:root{--newtab-textbox-background-color:#1C1B19;}

#browser vbox#appcontent tabbrowser,
#content,
#tabbrowser-tabpanels,
browser[type=content-primary],
browser[type=content] > html{
    background: #1C1B19 !important
}

.tab-line {
display : none !important;
}

/* Toolbar buttons */
.toolbarbutton-1 {
    fill: #FCE8C3 !important;
    background-color: #1C1B19 !important;
}

/* Remove border under navbar */
#navigator-toolbox::after {
  border-bottom: 0px !important;
}

/* remove some borders */
#navigator-toolbox {
  border: none !important;
}

#titlebar {
  border: none !important;
}

#tabbrowser-tabs {
background-color: #1C1B19 !important;
}

/* remove lines */

#navigator-toolbox::after {
  display: none !important;
}

#nav-bar, #TabsToolbar {
  border: none !important;
}

.tabbrowser-tab::before,
.tabbrowser-tab::after{
  display: none !important;

}

tab {
    background-color: #1C1B19 !important;
    font-weight: thin !important;
    color : #FCE8C3 !important;
}


.tab-content[selected="true"] {
    background-color: #1C1B19 !important;
    font-weight: bold !important;
    color : #FCE8C3 !important;
}

#nav-bar-customization-target {
	background-color: #1C1B19 !important;
}


.tabbrowser-tab{ opacity: 0.5 }
.tabbrowser-tab:hover{ opacity: 0.75 }
.tabbrowser-tab[selected]{ opacity: 1 }

#urlbar {
	box-shadow: none !important;
	background-color: #1C1B19 !important;
	background: none !important;
	border: none !important;
	color : #FCE8C3 !important;
	font-weight: bold !important;
}

#urlbar:hover {
  box-shadow: none !important;
}

#tracking-protection-icon-container,#pageActionSeparator{ border-inline-width: 0px !important; }
.urlbar-icon,
.urlbar-icon-wrapper,
#tabbrowser-tabs toolbarbutton,
toolbar toolbarbutton > .toolbarbutton-icon,
toolbar toolbarbutton > .toolbarbutton-badge-stack,
.titlebar-button,
#identity-box,
#tracking-protection-icon-container,
.findbar-textbox~toolbarbutton,
toolbarbutton.scrollbutton-up,
toolbarbutton.scrollbutton-down{ background-color: transparent !important;}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"]):not([multiselected]){ background-color: transparent !important }



/* remove weird line */
#navigator-toolbox { --tabs-border-color: transparent !important; }



/* Remove container underline */
.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-bottom-line {
height: 0 !important;
}



/* Tabs below nav bar
#PersonalToolbar {
  -moz-box-ordinal-group: 1 !important;
}
#nav-bar {
  -moz-box-ordinal-group: 2 !important;
}
#titlebar {
  -moz-box-ordinal-group: 3 !important;
}

#navigator-toolbox{
  margin-top: 0px;
  padding-top:0px !important;
}
#toolbar-menubar{
  position: fixed;
  top: 0px;
}
*/


/* Hide tabs bar if one tab is opened */
#tabbrowser-tabs,
#tabbrowser-tabs > .tabbrowser-arrowscrollbox {
  min-height: 1px !important;
}
#tabbrowser-tabs tab[first-visible-tab="true"][last-visible-tab="true"] {
  visibility: collapse !important;
}
#tabbrowser-tabs #tabs-newtab-button {
  visibility: collapse !important;
}
#TabsToolbar .private-browsing-indicator {
  display: none;
}



/* Hide Nav bar */
#nav-bar {
  min-height: 0 !important;
  max-height: 0 !important;
}
#titlebar:hover~#nav-bar,
#nav-bar:hover,
#nav-bar:focus-within {
  max-height: 36px !important;
  min-height: 36px !important;
}



/* Hide back and forward buttons */
#forward-button, #back-button {
	display: none !important;
}



/* Hide close buttons */
#tabbrowser-tabs .tabbrowser-tab:not(:hover) .tab-close-button {
    visibility: collapse !important;
}
#tabbrowser-tabs .tabbrowser-tab:not([pinned]):hover .tab-close-button {
    visibility: visible !important;
}



/* Custom Scrollbar */
scrollbar {
  scrollbar-color: #FCE8C3 #1C1B19 !important;
  scrollbar-width: thin !important;
}



/* Custom Blankpage color */
#tabbrowser-tabpanels{
  background-color: var(--uc-light-bkgnd-color,#1C1B19) !important;
}



/* Move toolbar to bottom
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
#browser {
	-moz-box-ordinal-group: 0 !important;
	padding-top: 0px;
}
#TabsToolbar[inFullscreen] {
	display: none;
}
#TabsToolbar > .titlebar-buttonbox-container {
	display: none !important;
*/
